<div class=" panel-default col-sm-12" ng-controller="companiesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "addForm" ng-submit="submitForm(formData)" class="form-inline">
        <div>
          <input-description></input-description>
          <div class="input-group col-sm-5 well-lg col-centered">
            <select ng-model='formData.countrie_id' required ng-change="changeCountries(formData.countrie_id)" class="form-control input-lg">
          	 <option value=''>Selecciona un país</option>
             <option ng-repeat="countrie in countries" value='{{countrie.id}}'>{{countrie.description}}</option>
            </select>
          </div>

          <div class="input-group col-sm-5 well-lg">
            <select ng-model='formData.state_id' required ng-change="changeStates(formData.state_id)"  class="form-control input-lg">
          	 <option value=''>Selecciona un estado</option>
             <option ng-repeat="state in states" value='{{state.id}}'>{{state.description}}</option>
            </select>
          </div>

          <div class="input-group col-sm-5 well-lg col-centered">
            <select ng-model='formData.city_id'required class="form-control input-lg">
          	 <option value=''>Selecciona una ciudad</option>
             <option ng-repeat="city in cities" value='{{city.id}}'>{{city.description}}</option>
            </select>
          </div>
        </div>
        <textarea-notes-dos-column></textarea-notes-dos-column>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
