<div class=" panel-default col-sm-12" ng-controller="companiesController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('companies.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('companies.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('cities.description')" class="cursor-pointer">Ciudad</th>
                    <th ng-click="orderByMe('states.description')" class="cursor-pointer">Estado</th>
                    <th ng-click="orderByMe('countries.description')" class="cursor-pointer">País</th>
                    <th ng-click="orderByMe('companies.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('companies.status')" class="cursor-pointer">Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="company in companies">
                        <td>{{ company.id }}</td>
                        <td>{{ company.description }}</td>
                        <td>{{ company.city }}</td>
                        <td>{{ company.state }}</td>
                        <td>{{ company.country }}</td>
                        <td>{{ company.notes }}</td>
                        <td ng-if="company.status == 1">Activo</td>
                        <td ng-if="company.status == 0">Inactivo</td>
                        <td>
                          <a href="#/acl/companies/edit/{{company.id}}" title='Editar'>
                            <i class="glyphicon glyphicon-edit cursor-pointer"></i>
                          </a>
                          <a ng-if="company.status == 1" href="" ng-click="deactivate(company.id)" title="Desactivar">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                          </a>
                          <a ng-if="company.status == 0" href="" ng-click="activate(company.id)" title="Activar">
                            <i class="glyphicon glyphicon-ok"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
