*{
  font-family: 'Raleway', sans-serif;
}

body {
  overflow-x: hidden;
}
.not-visible{
  display: none !important;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
form .ng-invalid{
    border-color: #F78181;
}
form .ng-untouched {
  border-color: #ccc;
}
form .ng-valid {
  border-color: #ccc;
}
.cursor-pointer{
    cursor: pointer;
}

.navbar{
  border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a{
  color: #9d9d9d;
}

.navbar-inverse .navbar-nav>li>a:hover{
  color: white;
  transition: color .5s ease-in-out;
}

.panel{
  background: #FCF7FF;
}

.form-control{
  background: #FCF7FF;
}

.btn-default{
  background: #FCF7FF;
}

.btn-default:hover{
  background: #ccc;
  color: #222;
  transition: all .4s ease-in-out;
}

.table>tbody>tr>td {
    text-transform: capitalize;
}

.table>tbody>tr> .dontCapitalize{
  text-transform: none;
}

.table>tbody>tr> .uppercase{
  text-transform: uppercase;
}

.item{
  opacity: 0;
  transform: translateY(10px);
  transition: all 600ms ease-in-out;
}

.is-visible{
  opacity: 1;
  transform: translateY(0px);
}

.menu-cards-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 4em;
}

.menu-cars-big{
  width: 250px !important;
  height: 300px !important;
}

.menu-cards{
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.menu-cards:hover{
  background: rgba(0,0,0,.01);
  transform: scale(1.06);
  border: 1px solid #777;
  box-shadow: 0 0 40px rgba(54,67,77,0.2);
  transition: all .35s ease-in-out;
}

.menu-cards > a{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}

.menu-cards > a:hover{
  transition: all .3s ease-in-out;
}

.menu-cards > a > i{
  padding-top: 30px;
}
.menu-cards > a > h3{
  padding-bottom: 30px;
}

#app-title{
  text-transform: uppercase;
  background: #000;
  color: #ccc;
  width: 100vw;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar{
  float: right !important;
  margin-top: -10px;
}

.panel-primary>.panel-heading{
  height: 50px;
}

li{
  list-style: none;
}

.icon{
  position: relative;
  top: -35px;
}

.gender{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  border: solid 1px #ccc;
  border-radius: 5px;
}

.panel{
  margin-top: 50px;
}

.fixed{
  position: fixed !important;
}

hr{
  width: 10%;
  border: 1px solid cornflowerblue !important;
}

.textTitle{
  padding-top: 7%;
  padding-bottom: 3%;
  text-align: center;
}

/* Toggle Styles */

#menu-toggle{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1000;
}
#menu-toggle:hover{
  color: #aaa;
  transition: all .5s ease-in-out
}
#menu-toggle.toggled{
  left: 250px
}
#wrapper {
   padding-left: 0;
   -webkit-transition: all 1 ease-in-out;
   -moz-transition: all 1 ease-in-out;
   -o-transition: all 1 ease-in-out;
   transition: all 1 ease-in-out;
}

.shadow{

  position: fixed;
  top: 50px;
  left: 0;
  background: #000;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  display: none;
  z-index: 100;
}
.shadow-active{
  opacity: 0.7;
  display: block;
  overflow-y: hidden;
  transition: all 5s ease-in-out;
}

#sidebar-wrapper.toggled {
   left: 0;
}

#sidebar-wrapper {
   z-index: 1000;
   top: 50px;
   position: fixed;
   left: 250px;
   width: 0;
   height: 93% !important;
   margin-left: -250px;
   overflow-x: hidden;
   background: #000;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 40px;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}
.panel-body{
  overflow: auto;
}

@media(max-width:768px) {

  .icon{
    top: 0;
  }

  #menu-toggle{
    left: 10px;
  }

  .buttonForm{
    width: 13em !important;
  }

  .textTitle{
    padding-top: 15%;
  }

  .gender{
    /*height: 80px !important;*/
    padding: 40px !important;
    flex-direction: column;
  }

   #wrapper {
       padding-left: 0px;
   }

   #sidebar-wrapper.toggled {
       padding-left: 250px;
   }

   #sidebar-wrapper {
       width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}
@media(min-width:768px) {

   #wrapper {
       padding-left: 0px;
   }


   #sidebar-wrapper.toggled {
       left: 0px;
   }

   #sidebar-wrapper {
       width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}
