<div class=" panel-default col-sm-12" ng-controller="usersController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "addForm" ng-submit="addSubmitForm(formData)" class="form-inline">
        <input-name></input-name>
        <input-last-name></input-last-name>
        <input-second-last-name></input-second-last-name>
        <input-user></input-user>
        <input-password></input-password>
        <input-description></input-description>
        <div class="input-group col-sm-10 well-lg col-centered">
          <select ng-model='formData.group_id' class="form-control input-lg" required>
            <option value=''>Selecciona un grupo</option>
            <option ng-repeat="group in groups" value='{{group.id}}'>{{group.description}}</option>
          </select>
        </div>
        <textarea-notes-dos-column></textarea-notes-dos-column>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
