<div class=" panel-default col-sm-12" ng-controller="usersController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('users.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('users.user')" class="cursor-pointer" >Usuario</th>
                    <th ng-click="orderByMe('users.name')" class="cursor-pointer" >Nombre</th>
                    <th ng-click="orderByMe('users.last_name')" class="cursor-pointer" >Apellido Paterno</th>
                    <th ng-click="orderByMe('users.second_last_name')" class="cursor-pointer" >Apellido Materno</th>
                    <th ng-click="orderByMe('groups.description')" class="cursor-pointer">Grupo</th>
                    <th ng-click="orderByMe('users.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('users.status')" class="cursor-pointer">Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{ user.id }}</td>
                        <td class="dontCapitalize">{{ user.user }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.second_last_name }}</td>
                        <td>{{ user.group }}</td>
                        <td>{{ user.notes }}</td>
                        <td ng-if="user.status == 1">Activo</td>
                        <td ng-if="user.status == 0">Inactivo</td>
                        <td>
                          <a href="#/acl/users/edit/{{user.id}}">
                            <i class="glyphicon glyphicon-edit cursor-pointer"></i>
                          </a>
                          <a ng-if="user.status == 1" href="" ng-click="deactivate(user.id)">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                          </a>
                          <a ng-if="user.status == 0" href="" ng-click="activate(user.id)">
                            <i class="glyphicon glyphicon-ok"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
