<div class=" panel-default col-sm-12" ng-controller="clientTypesController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('client_types.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('client_types.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('client_types.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('client_types.status')" class="cursor-pointer">Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="clientType in clientTypes">
                        <td>{{ clientType.id }}</td>
                        <td>{{ clientType.description }}</td>
                        <td>{{ clientType.notes }}</td>
                        <td ng-if="clientType.status == 1">Activo</td>
                        <td ng-if="clientType.status == 0">Inactivo</td>
                        <td>
                          <a href="#/adm/client-types/edit/{{clientType.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="clientType.status == 1" href="" ng-click="deactivate(clientType.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="clientType.status == 0" href="" ng-click="activate(clientType.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages"
              ng-model="currentPage" max-size="maxSize" boundary-links="true" 
              items-per-page="itemsPerPage" ng-change="pageChanged()">
            </uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
