<div class=" panel-default col-sm-12" ng-controller="countriesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <!-- <icon-return-citie-state></icon-return-citie-state> -->
  <alert-message alert="alertMessage"></alert-message>
  <center>
  <div class="panel-body">
    <div class="well well-sm fondo-verde">
      <h5>Estado: {{state}}</h5>
    </div>
    <form name = "addForm" ng-submit="addSubmitForm(formData)" class='form-inline'>
      <div class="row">
        <div class="col-sm-10">
          <input-description-large></input-description-large>
        </div>
        <div class="col-sm-2">
          <btn-add></btn-add>
        </div>
      </div>
    </form>
    <button data-toggle="collapse" class="btn  col-sm-12 fondo-verde"  data-target="#table_estados">Ver ciudades asignadas</button>
    <div id="table_estados" class="collapse">
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>Ciudad</th>
        </thead>
        <tbody>
          <tr ng-repeat="city in cities">
            <td>{{city.id}}</td>
            <td>{{city.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
</div>
