<div class=" panel-default col-sm-12" ng-controller="countriesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <form name = "editForm" ng-submit="editSubmitForm(formData)">
      <input-description></input-description>
      <textarea-notes></textarea-notes>
      <center>
        <btn-add></btn-add>
      </center>
    </form>
  </div>
</div>
