<div class=" panel-default col-sm-12" ng-controller="groupsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
  <div class="panel-body">
    <form name = "addForm" ng-submit="addSubmitForm(formData)">
      <input-description></input-description>
      <textarea-notes></textarea-notes>
      <btn-add></btn-add>
    </form>
  </div>
</center>
</div>
