<div class=" panel-default" ng-controller="groupsController">
  <panel-title></panel-title>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading"><h4>{{group}}</h4></div>
      <form name = "addForm" ng-submit="submitForm()">
        <div class="panel panel-default col-sm-10 col-centered" ng-repeat="application in applications">
          <div class="panel panel-info">
            <div class="panel panel-heading">
              <h4>Aplicacion: <strong>{{application.application}}</strong></h4>
            </div>
            <div class="">
              <div class="panel panel-success" ng-repeat="resource in application.resources">
                <div class="">
                  <h5>Recurso: <strong>{{resource.resource}}</strong></h5>
                </div>
                <div class="">
                  <div class="checkbox" ng-repeat="url in resource.urls">
                    <label>
                    <input  type="checkbox"
                            value="{{url.url_id}}"
                            ng-model="formData.url[url.index].selected"
                            ng-init = "init(url.index,url.url_id,url.selected)"
                            >
                      Url: <strong>{{url.url}}</strong> Metodo: <strong> {{url.method}}</strong>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <btn-add></btn-add>
      </form>
    </div>
  </div>
</div>
