<div class=" panel-default col-sm-12" ng-controller="locationsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <center>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel-body">
      <form name = "addForm" ng-submit="addSubmitForm(formData)" class="form-inline">
        <div>
          <input-description></input-description>
          <input-cp></input-cp>
          <input-street></input-street>
          <input-colony></input-colony>
          <input-street_address></input-street_address>
          <input-apartment_number></input-apartment_number>
          <input-lot></input-lot>
          <input-block></input-block>
          <div class="input-group col-sm-10 well-lg col-centered">
            <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
            <select required ng-model='formData.project_id' class="form-control input-lg select">
             <option value=''>Selecciona un  proyecto</option>
             <option ng-repeat="project in projects" value='{{project.id}}'>{{project.description}}</option>
            </select>
          </div>
      </div>
      <textarea-notes></textarea-notes>
      <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
