<div class=" panel-default col-sm-12" ng-controller="locationsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('locations.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('locations.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('locations.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('locations.cp')" class="cursor-pointer">Codigo postal</th>
                    <th ng-click="orderByMe('locations.street')" class="cursor-pointer">Calle</th>
                    <th ng-click="orderByMe('locations.colony')" class="cursor-pointer">Colonia</th>
                    <th ng-click="orderByMe('locations.street_address')" class="cursor-pointer">Número exterior</th>
                    <th ng-click="orderByMe('locations.apartment_number')" class="cursor-pointer">Número interior</th>
                    <th ng-click="orderByMe('locations.lot')" class="cursor-pointer">Lote</th>
                    <th ng-click="orderByMe('locations.block')" class="cursor-pointer">Manzana</th>
                    <th ng-click="orderByMe('projects.description')" class="cursor-pointer">Tipo de proyecto</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="location in locations">
                        <td>{{ location.id }}</td>
                        <td>{{ location.description }}</td>
                        <td>{{ location.cp }}</td>
                        <td>{{ location.street }}</td>
                        <td>{{ location.colony }}</td>
                        <td>{{ location.street_address }}</td>
                        <td>{{ location.apartment_number }}</td>
                        <td>{{ location.lot }}</td>
                        <td>{{ location.block }}</td>
                        <td>{{ location.project }}</td>
                        <td ng-if="location.status == 1">Activo</td>
                        <td ng-if="location.status == 0">Inactivo</td>
                        <td>
                          <a href="#/adm/locations/edit/{{location.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="location.status == 1" href="" ng-click="deactivate(location.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="location.status == 0" href="" ng-click="activate(location.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
