<div class="panel-default col-sm-12" ng-controller="agentsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('agents.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('agents.name')" class="cursor-pointer">Nombre</th>
                    <th ng-click="orderByMe('agents.last_name')" class="cursor-pointer">Apellido Paterno</th>
                    <th ng-click="orderByMe('agents.second_last_name')" class="cursor-pointer">Apellido Materno</th>
                    <th ng-click="orderByMe('agents.email')" class="cursor-pointer">Correo</th>
                    <th ng-click="orderByMe('agents.curp')" class="cursor-pointer">CURP</th>
                    <th ng-click="orderByMe('agents.rfc')" class="cursor-pointer">RFC</th>
                    <th ng-click="orderByMe('agents.notes')" class="cursor-pointer">Notas</th>
                    <th ng-click="orderByMe('agents.status')" class="cursor-pointer">Status</th>
                    <th ng-click="orderByMe('agent_types.description')" class="cursor-pointer">Tipo de agente</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="agent in agents">
                        <td>{{ agent.id }}</td>
                        <td>{{ agent.name }}</td>
                        <td>{{ agent.last_name }}</td>
                        <td>{{ agent.second_last_name }}</td>
                        <td class="dontCapitalize">{{ agent.email }}</td>
                        <td class="uppercase">{{ agent.curp }}</td>
                        <td class="uppercase">{{ agent.rfc }}</td>
                        <td>{{ agent.notes }}</td>
                        <td ng-if="agent.status == 1">Activo</td>
                        <td ng-if="agent.status == 0">Inactivo</td>
                        <td>{{ agent.agent_type }}</td>
                        <td>
                          <a href="#/adm/agents/edit/{{agent.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="agent.status == 1" href="" ng-click="deactivate(agent.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="agent.status == 0" href="" ng-click="activate(agent.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
