<div class=" panel-default col-sm-12" ng-controller="documentTypesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <form name = "addForm" ng-submit="addSubmitForm(formData)">
      <input-description></input-description>
      <textarea-notes-dos-column></textarea-notes-dos-column>
      <center><btn-add></btn-add></center>
    </form>
  </div>
</div>
