<div class=" panel-default col-sm-12" ng-controller="documentTypesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <form name = "editForm" ng-submit="editSubmitForm(formData)">
      <input-description></input-description>
      <textarea-notes-dos-column></textarea-notes-dos-column>
      <btn-add></btn-add>
    </form>
  </div>
</div>
