<div class=" panel-default col-sm-12" ng-controller="documentTypesController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('document_types.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('document_types.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('document_types.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('document_types.status')" class="cursor-pointer">Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="documentType in documentTypes">
                        <td>{{ documentType.id }}</td>
                        <td>{{ documentType.description }}</td>
                        <td>{{ documentType.notes }}</td>
                        <td ng-if="documentType.status == 1">Activo</td>
                        <td ng-if="documentType.status == 0">Inactivo</td>
                        <td>
                          <a href="#/adm/document-types/edit/{{documentType.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="documentType.status == 1" href="" ng-click="deactivate(documentType.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="documentType.status == 0" href="" ng-click="activate(documentType.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
