<div class="panel-default" ng-controller="loginController">
  <panel-title-dos></panel-title-dos>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div>
      <div class="menu-cards-wrapper">
  		  <div class="menu-cards menu-cars-big">
  		    <a onclick="acl()">
			     <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
           <h3>Configuracion</h3>
			   </a>
        </div>
        <div class="menu-cards menu-cars-big">
          <a onclick="clients()">
  				  <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
            <h3>Inmobiliaria</h3>
          </a>
        </div>
  		</div>
    </div>
  </center>
</div>
