
<div class=" panel-default" ng-controller="loginController">
  <panel-title-dos id="prueba"></panel-title-dos>
  <alert-message alert="alertMessage"></alert-message>
  <center>
  <div class="panel-body">
    <form name = "addForm" ng-submit="addSubmitForm(formData)">
      <input-user></input-user>
      <input-password></input-password>
      <btn-add></btn-add>
    </form>
  </div>
</center>
</div>
