<div class="panel-default" ng-controller="loginController">
  <panel-title-dos></panel-title-dos>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div>
        <div class="menu-cards-wrapper">
          <div class="menu-cards">
            <a href="#/acl/companies/list">
  			     <i class="fa fa-building-o fa-5x" aria-hidden="true"></i>
             <h3>Empresas</h3>
    			  </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/countries/list">
    				  <i class="fa fa-globe fa-5x" aria-hidden="true"></i>
              <h3>Países</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/states/list">
              <i class="fa fa-font-awesome fa-5x" aria-hidden="true"></i>
              <h3>Estados</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/cities/list">
              <i class="fa fa-building fa-5x" aria-hidden="true"></i>
              <h3>Ciudades</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/applications/list">
              <i class="fa fa-tasks fa-5x" aria-hidden="true"></i>
              <h3>Aplicaciones</h3>
            </a>
          </div>

          <div class="menu-cards">
            <a href="#/acl/groups/list">
              <i class="fa fa-users fa-5x" aria-hidden="true"></i>
              <h3>Grupos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/resources/list">
              <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
              <h3>Recursos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/urls/list">
              <i class="fa fa-link fa-5x" aria-hidden="true"></i>
              <h3>Urls</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/acl/users/list">
              <i class="fa fa-user fa-5x" aria-hidden="true"></i>
              <h3>Usuarios</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/login/salir">
              <i class="fa fa-unlock-alt fa-5x" aria-hidden="true"></i>
              <h3>Cerrar sesión</h3>
            </a>
          </div>
        </div>
    </div>
  </center>
</div>
