<div class="panel-default" ng-controller="loginController">
  <panel-title-dos></panel-title-dos>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div>
        <div class="menu-cards-wrapper">
          <div class="menu-cards">
              <a href="#/adm/clients/list">
               <i class="material-icons md-80">face</i>
               <h3>Clientes</h3>
              </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/client-types/list">
                <i class="material-icons md-80">supervisor_account</i>
                <h3>Tipo de clientes</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/financings/list">
              <i class="material-icons md-80">payment</i>
              <h3>Financiamiento</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/financing-types/list">
              <i class="material-icons md-80">account_balance_wallet</i>
              <h3>Tipo de financiamiento</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/phases/list">
              <i class="material-icons md-80">exit_to_app</i>
              <h3>Etapas</h3>
            </a>
          </div>

          <div class="menu-cards">
            <a href="#/adm/documents/list">
              <i class="material-icons md-80">folder_open</i>
              <h3>Documentos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/document-types/list">
              <i class="material-icons md-80">folder_shared</i>
              <h3>Tipos de documentos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/agents/list">
              <i class="material-icons md-80">person_outline</i>
              <h3>Agentes</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/agent-types/list">
              <i class="material-icons md-80">people_outline</i>
              <h3>Tipos de de agentes</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/projects/list">
              <i class="material-icons md-80">location_city</i>
              <h3>Proyectos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/project-types/list">
              <i class="material-icons md-80">work</i>
              <h3>Tipos de proyectos</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/contractors/list">
              <i class="material-icons md-80">person</i>
              <h3>Contratista</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/contractor-types/list">
              <i class="material-icons md-80">people</i>
              <h3>Tipos de contratista</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/adm/locations/list">
              <i class="material-icons md-80">room</i>
              <h3>Ubicación</h3>
            </a>
          </div>
          <div class="menu-cards">
            <a href="#/login/salir">
              <i class="material-icons md-80">lock_outline</i>
              <h3>Cerrar sesión</h3>
            </a>
          </div>
        </div>
    </div>
  </center>
</div>
