<div class=" panel-default col-sm-12" ng-controller="projectsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <center>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel-body">
      <form name = "editForm" ng-submit="editSubmitForm(formData)" class="form-inline">
        <div>
          <input-description></input-description>
          <input-cp></input-cp>
          <input-street></input-street>
          <input-colony></input-colony>
          <input-street_address></input-street_address>
          <input-apartment_number></input-apartment_number>
          <div class="input-group col-sm-5 well-lg col-centered">
            <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
            <select required ng-model='formData.project_type_id' class="form-control input-lg select">
             <option value='{{project_type_id_select}}' ng-selected="true">{{project_type_select}}</option>
             <option value=''>Selecciona un tipo de projecto</option>
             <option ng-repeat="projectType in projectTypes" value='{{projectType.id}}'>{{projectType.description}}</option>
            </select>
          </div>
        </div>

        <div class="input-group col-sm-5 well-lg col-centered">
          <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
          <select ng-model='formData.contractor_type_id' class="form-control input-lg" ng-change="changeContractorTypes(formData.contractor_type_id)">
          <option value='' ng-selected="true">Selecciona un tipo de contratista</option>
          <option value='{{contractor_type_id_select}}' ng-selected="true">{{contractor_type_select}}</option>
           <option ng-repeat="contractorType in contractorTypes" value='{{contractorType.id}}'>{{contractorType.description}}</option>
          </select>
        </div>

        <div class="input-group col-sm-10 well-lg col-centered">
          <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
          <select ng-model='formData.contractor_id' class="form-control input-lg">
          <option value='' ng-selected="true">Selecciona un contratista</option>
          <option value='{{contractor_id_select}}' ng-selected="true" ng-show="optionDefault">{{contractor_select}}</option>
           <option ng-repeat="contractor in contractors" value='{{contractor.id}}'>{{contractor.description}}</option>
          </select>
        </div>
        <textarea-notes></textarea-notes>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
