<div class=" panel-default col-sm-12" ng-controller="projectsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('projects.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('projects.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('projects.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('projects.cp')" class="cursor-pointer">Codigo postal</th>
                    <th ng-click="orderByMe('projects.street')" class="cursor-pointer">Calle</th>
                    <th ng-click="orderByMe('projects.colony')" class="cursor-pointer">Colonia</th>
                    <th ng-click="orderByMe('projects.street_address')" class="cursor-pointer">Número exterior</th>
                    <th ng-click="orderByMe('projects.apartment_number')" class="cursor-pointer">Número interior</th>
                    <th ng-click="orderByMe('project_types.description')" class="cursor-pointer">Tipo de proyecto</th>
                    <th ng-click="orderByMe('contractors.name')" class="cursor-pointer">Contratista</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="project in projects">
                        <td>{{ project.id }}</td>
                        <td>{{ project.description }}</td>
                        <td>{{ project.cp }}</td>
                        <td>{{ project.street }}</td>
                        <td>{{ project.colony }}</td>
                        <td>{{ project.street_address }}</td>
                        <td>{{ project.apartment_number }}</td>
                        <td ng-if="project.status == 1">Activo</td>
                        <td ng-if="project.status == 0">Inactivo</td>
                        <td>{{ project.project_type }}</td>
                        <td>{{ project.contractor }}</td>
                        <td>
                          <a href="#/adm/projects/edit/{{project.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="project.status == 1" href="" ng-click="deactivate(project.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="project.status == 0" href="" ng-click="activate(project.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
