<div class=" panel-default col-sm-12" ng-controller="financingsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "editForm" ng-submit="editSubmitForm(formData)" class="form-inline">
        <div>
          <input-description></input-description>
            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
              <select required ng-model='formData.financing_type_id' class="form-control input-lg">
              <option value='{{financing_type_id_select}}' ng-selected="true">{{financing_type_select}}</option>
              <option value=''>Selecciona un tipo de financiamiento</option>
               <option ng-repeat="financingType in financingTypes" value='{{financingType.id}}'>{{financingType.description}}</option>
              </select>
            </div>
          </div>
        <textarea-notes></textarea-notes>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
