<div class=" panel-default col-sm-12" ng-controller="urlsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
  <div class="panel-body">
    <form name = "editForm" ng-submit="editSubmitForm(formData)" class="form-inline">
      <input-description-url></input-description-url>
      <input-method></input-method>

        <div class="input-group col-sm-5 well-lg col-centered">
          <select ng-model='formData.application_id' class="form-control input-lg" ng-change="changeApplications(formData.application_id)">
            <option value='{{application_id_select}}' ng-selected="true">{{application_select}}</option>
            <option ng-repeat="application in applications" value='{{application.id}}'   >{{application.description}}</option>
          </select>
        </div>


        <div class="input-group col-sm-5 well-lg col-centered">
          <select ng-model='formData.resource_id'  class="form-control input-lg">
            <option value='' ng-selected="true">Selecciona un recurso</option>
        	  <option value='{{resource_id_select}}' ng-selected="true" ng-show='optionDefault' >{{resource_select}}</option>
            <option ng-repeat="resource in resources" value='{{resource.id}}'>{{resource.description}}</option>
          </select>
        </div>


      <textarea-notes-dos-column></textarea-notes-dos-column>
      <btn-add></btn-add>
    </form>
  </div>
</center>
</div>
