<div class=" panel-default col-sm-12" ng-controller="urlsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('urls.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('urls.description')" class="cursor-pointer">Description</th>
                    <th ng-click="orderByMe('urls.method')" class="cursor-pointer">Metodo</th>
                    <th ng-click="orderByMe('resource')" class="cursor-pointer">Recurso</th>
                    <th ng-click="orderByMe('application')" class="cursor-pointer">Aplicacion</th>
                    <th ng-click="orderByMe('urls.notes')" class="cursor-pointer">Notes</th>
                    <th ng-click="orderByMe('urls.status')" class="cursor-pointer">Status</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="url in urls">
                        <td>{{ url.id }}</td>
                        <td class="dontCapitalize">{{ url.description }}</td>
                        <td>{{ url.method }}</td>
                        <td>{{ url.resource }}</td>
                        <td>{{ url.application }}</td>
                        <td>{{ url.notes }}</td>
                        <td ng-if="url.status == 1">Activo</td>
                        <td ng-if="url.status == 0">Inactivo</td>
                        <td>
                          <a href="#/acl/urls/edit/{{url.id}}">
                            <i class="glyphicon glyphicon-edit cursor-pointer"></i>
                          </a>
                          <a ng-if="url.status == 1" href="" ng-click="deactivate(url.id)">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                          </a>
                          <a ng-if="url.status == 0" href="" ng-click="activate(url.id)">
                            <i class="glyphicon glyphicon-ok"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItemsUrls" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
