<div class=" panel-default" ng-controller="financingTypesController">
  <panel-title></panel-title>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><strong>Tipo de financiamiento:</strong></h4>
      </div>
      <form name = "addForm" ng-submit="submitForm()">
        <div class="panel panel-default col-sm-12 col-centered">
          <div class="panel panel-info">
            <div class="panel panel-heading">
              <h4><strong>Etapas:</strong></h4>
            </div>
            <div class="panel panel-body">
              <div class="panel panel-success">
                <div class="checkbox" >
                  <label>
                    <input  type="radio"
                    value="{{url.url_id}}"
                    ng-model="formData.url[url.indiceUrl].selected"
                    ng-init ="init(url.indiceUrl,url.url_id,url.selected)">
                    <strong>Etapa:</strong> Etapa 1
                  </label>
                </div>
                <div class="checkbox" >
                  <label>
                    <input  type="radio"
                    value="{{url.url_id}}"
                    ng-model="formData.url[url.indiceUrl].selected"
                    ng-init ="init(url.indiceUrl,url.url_id,url.selected)">
                    <strong>Etapa:</strong> Etapa 2
                  </label>
                </div>
                <div class="checkbox" >
                  <label>
                    <input  type="radio"
                    value="{{url.url_id}}"
                    ng-model="formData.url[url.indiceUrl].selected"
                    ng-init ="init(url.indiceUrl,url.url_id,url.selected)">
                    <strong>Etapa:</strong> Etapa 3
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <btn-add></btn-add>
      </form>
    </div>
  </div>
</div>
