<div class=" panel-default col-sm-12" ng-controller="contractorsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "editForm" ng-submit="editSubmitForm(formData)" class="form-inline">
        <div >
          <input-name></input-name>
          <input-last-name></input-last-name>
          <input-second-last-name></input-second-last-name>
          <input-phone_number></input-phone_number>
          <input-email></input-email>
          <input-CURP></input-CURP>
          <input-RFC></input-RFC>
            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
              <select required ng-model='formData.contractor_type_id' class="form-control input-lg">
              <option value='{{contractor_type_id_select}}' ng-selected="true">{{contractor_type_select}}</option>
              <option value=''>Selecciona un tipo de contratista</option>
               <option ng-repeat="contractorType in contractorTypes" value='{{contractorType.id}}'>{{contractorType.description}}</option>
              </select>
            </div>
        </div >
        <textarea-notes></textarea-notes>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
