<div class=" panel-default col-sm-12" ng-controller="contractorsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('contractors.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('contractors.name')" class="cursor-pointer">Nombre</th>
                    <th ng-click="orderByMe('contractors.last_name')" class="cursor-pointer">Apellido Paterno</th>
                    <th ng-click="orderByMe('contractors.second_last_name')" class="cursor-pointer">Apellido Materno</th>
                    <th ng-click="orderByMe('contractors.email')" class="cursor-pointer">Correo</th>
                    <th ng-click="orderByMe('contractors.curp')" class="cursor-pointer">CURP</th>
                    <th ng-click="orderByMe('contractors.rfc')" class="cursor-pointer">RFC</th>
                    <th ng-click="orderByMe('contractors.notes')" class="cursor-pointer">Notas</th>
                    <th ng-click="orderByMe('contractors.status')" class="cursor-pointer">Status</th>
                    <th ng-click="orderByMe('contractor_types.description')" class="cursor-pointer">Tipo de contratista</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="contractor in contractors">
                        <td>{{ contractor.id }}</td>
                        <td>{{ contractor.name }}</td>
                        <td>{{ contractor.last_name }}</td>
                        <td>{{ contractor.second_last_name }}</td>
                        <td class="dontCapitalize">{{ contractor.email }}</td>
                        <td class="uppercase">{{ contractor.curp }}</td>
                        <td class="uppercase">{{ contractor.rfc }}</td>
                        <td>{{ contractor.notes }}</td>
                        <td ng-if="contractor.status == 1">Activo</td>
                        <td ng-if="contractor.status == 0">Inactivo</td>
                        <td>{{ contractor.contractor_type }}</td>
                        <td>
                          <a href="#/adm/contractors/edit/{{contractor.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="contractor.status == 1" href="" ng-click="deactivate(contractor.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="contractor.status == 0" href="" ng-click="activate(contractor.id)">
                            <i class="fa fa-check"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages" ng-model="currentPage" max-size="maxSize" boundary-links="true" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
