<div class=" panel-default col-sm-12" ng-controller="documentsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <form name = "addForm" ng-submit="addSubmitForm(formData)">
      <input-description></input-description>
      <div class="input-group col-sm-5 well-lg col-centered">
        <span class="input-group-addon"><i class="material-icons">attach_file</i></span>
        <select required ng-model='formData.document_type_id' class="form-control input-lg select">
         <option value=''>Selecciona un tipo de documento</option>
         <option ng-repeat="documentType in documentTypes" value='{{documentType.id}}'>{{documentType.description}}</option>
        </select>
      </div>
      <input-file></input-file>
      <textarea-notes-dos-column></textarea-notes-dos-column>
      <center><btn-add></btn-add></center>
    </form>
  </div>
</div>
