<div class=" panel-default col-sm-12" ng-controller="documentsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <div class="panel-body">
    <form name = "editForm" ng-submit="editSubmitForm(formData)">
      <input-description></input-description>
      <div class="input-group col-sm-5 well-lg col-centered">
        <span class="input-group-addon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
        <select required ng-model='formData.document_type_id' class="form-control input-lg select">
         <option value='{{document_type_id_select}}' ng-selected="true">{{document_type_select}}</option>
         <option value=''>Selecciona un tipo de documento</option>
         <option ng-repeat="documentType in documentTypes" value='{{documentType.id}}'>{{documentType.description}}</option>
        </select>
      </div>
      <textarea-notes-dos-column></textarea-notes-dos-column>
      <btn-add></btn-add>
    </form>
  </div>
</div>
