<div class="panel-default col-sm-12" ng-controller="clientsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div>
      <form name = "addForm" ng-submit="addSubmitForm(formData)" class="form-inline">
        <div class="panel-body">
          <input-name></input-name>
          <input-last-name></input-last-name>
          <input-second-last-name></input-second-last-name>
          <input-phone_number></input-phone_number>
          <input-email></input-email>
          <input-CURP></input-CURP>
          <input-RFC></input-RFC>
          <div class="input-group col-sm-5 well-lg col-centered input-lg">
            <div class="gender input-lg">
              <div class="radio">
                <label><input type="radio" name="gender" value="0" ng-model="formData.gender" >Masculino</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="gender" value="1" ng-model="formData.gender">Femenino</label>
              </div>
            </div>
          </div>

          <input-birthdate></input-birthdate>
          <input-place-of-birth></input-place-of-birth>
          <input-purchase-range-initial></input-purchase-range-initial>
          <input-purchase-range-final></input-purchase-range-final>
            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="material-icons">supervisor_account</i></span>
              <select required ng-model='formData.client_type_id' class="form-control input-lg select">
            	 <option value=''>Selecciona un tipo de cliente</option>
               <option ng-repeat="clientType in clientTypes" value='{{clientType.id}}'>{{clientType.description}}</option>
              </select>
            </div>

            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="material-icons ">account_balance_wallet</i></span>
              <select required ng-model='formData.financing_type_id' ng-change="changeFinancingTypes(formData.financing_type_id)" class="form-control input-lg select">
            	 <option value=''>Selecciona un tipo financiamiento</option>
               <option ng-repeat="financingType in financingTypes" value='{{financingType.id}}'>{{financingType.description}}</option>
              </select>
            </div>

            <div class="input-group col-sm-5 well-lg col-centered" >
              <span class="input-group-addon"><i class="material-icons">payment</i></span>
              <select required ng-model='formData.financing_id' class="form-control input-lg select">
                <option value=''>Selecciona un financiamiento</option>
                <option ng-repeat="financing in financings" value='{{financing.id}}'>{{financing.description}}</option>
              </select>
            </div>

            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="material-icons">supervisor_account</i></i></span>
              <select required ng-model='formData.agent_id' class="form-control input-lg select">
            	 <option value=''>Selecciona un agente</option>
               <option ng-repeat="agent in agents" value='{{agent.id}}'>{{agent.name}}</option>
              </select>
            </div>
        </div>
        <textarea-notes></textarea-notes>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
