<div class="panel-default col-sm-12" ng-controller="clientsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "editForm" ng-submit="editSubmitForm(formData)" class="form-inline">
        <div >
          <input-name></input-name>
          <input-last-name></input-last-name>
          <input-second-last-name></input-second-last-name>
          <input-phone_number></input-phone_number>
          <input-email></input-email>
          <input-CURP></input-CURP>
          <input-RFC></input-RFC>

          <div class="input-group col-sm-5 well-lg col-centered">
            <div class="gender input-lg">
              <div class="radio">
                  <label><input type="radio" name="gender" value="0" ng-model="formData.gender">Masculino</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="gender" value="1" ng-model="formData.gender">Femenino</label>
              </div>
            </div>
          </div>

          <div class="input-group col-sm-5 well-lg col-centered">
            <span class="input-group-addon"><i class="fa fa-birthday-cake" aria-hidden="true"></i></span>
            <input id="birthdate"type="date" class="form-control input-lg" value="{{formData.birth_date}}" >
          </div>
          <input-place-of-birth></input-place-of-birth>
          <input-purchase-range-initial></input-purchase-range-initial>
          <input-purchase-range-final></input-purchase-range-final>

            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
              <select ng-model='formData.client_type_id' class="form-control input-lg">
                <option value='{{client_type_id_select}}' ng-selected="true">{{client_type_select}}</option>
              <option value=''>Selecciona un tipo de cliente</option>
              <option ng-repeat="clientType in clientTypes" value='{{clientType.id}}'>{{clientType.description}}</option>
              </select>
            </div>
            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
              <select ng-model='formData.financing_type_id' class="form-control input-lg" ng-change="changeFinancingTypes(formData.financing_type_id)">
              <option value='' ng-selected="true">Selecciona un tipo de financiamieto</option>
              <option value='{{financing_type_id_select}}' ng-selected="true">{{financing_type_select}}</option>
               <option ng-repeat="financingType in financingTypes" value='{{financingType.id}}'>{{financingType.description}}</option>
              </select>
            </div>
            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
              <select ng-model='formData.financing_id' class="form-control input-lg">
              <option value='' ng-selected="true">Selecciona un financiamieto</option>
              <option value='{{financing_id_select}}' ng-selected="true" ng-show="optionDefault">{{financing_select}}</option>
               <option ng-repeat="financing in financings" value='{{financing.id}}'>{{financing.description}}</option>
              </select>
            </div>

            <div class="input-group col-sm-5 well-lg col-centered">
              <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
              <select ng-model='formData.agent_id' class="form-control input-lg">
              <option value='' ng-selected="true">Selecciona un agente</option>
              <option value='{{agent_id_select}}' ng-selected="true" ng-show="optionDefault">{{agent_select}}</option>
               <option ng-repeat="agent in agents" value='{{agent.id}}'>{{agent.name}}</option>
              </select>
            </div>
        </div >
        <textarea-notes></textarea-notes>
        <btn-add></btn-add>
      </form>
    </div>
  </center>
</div>
