<div class="panel-default col-sm-12" ng-controller="clientsController">
    <panel-title></panel-title>
    <icon-add></icon-add>
    <alert-message alert="alertMessage"></alert-message>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <text-search-table></text-search-table>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <th ng-click="orderByMe('clients.id')" class="cursor-pointer" >Id</th>
                    <th ng-click="orderByMe('clients.name')" class="cursor-pointer">Nombre</th>
                    <th ng-click="orderByMe('clients.last_name')" class="cursor-pointer">Apellido Paterno</th>
                    <th ng-click="orderByMe('clients.second_last_name')" class="cursor-pointer">Apellido Materno</th>
                    <th ng-click="orderByMe('clients.email')" class="cursor-pointer">Correo</th>
                    <th ng-click="orderByMe('clients.curp')" class="cursor-pointer">CURP</th>
                    <th ng-click="orderByMe('clients.rfc')" class="cursor-pointer">RFC</th>
                    <th ng-click="orderByMe('clients.notes')" class="cursor-pointer">Notas</th>
                    <th ng-click="orderByMe('clients.status')" class="cursor-pointer">Status</th>
                    <th ng-click="orderByMe('client_types.description')" class="cursor-pointer">Tipo de cliente</th>
                    <th ng-click="orderByMe('financings.description')" class="cursor-pointer">Financiamiento</th>
                    <th ng-click="orderByMe('agentss.description')" class="cursor-pointer">agente</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients">
                        <td>{{ client.id }}</td>
                        <td>{{ client.name }}</td>
                        <td>{{ client.last_name }}</td>
                        <td>{{ client.second_last_name }}</td>
                        <td class="dontCapitalize">{{ client.email }}</td>
                        <td class="uppercase">{{ client.curp }}</td>
                        <td class="uppercase">{{ client.rfc }}</td>
                        <td>{{ client.notes }}</td>
                        <td>{{ client.client_type }}</td>
                        <td>{{ client.financing}}</td>
                        <td>{{ client.agent}}</td>
                        <td ng-if="client.status == 1">Activo</td>
                        <td ng-if="client.status == 0">Inactivo</td>
                        <td>
                          <a href="#/adm/clients/edit/{{client.id}}">
                            <i class="fa fa-pencil-square-o"></i>
                          </a>
                          <a ng-if="client.status == 1" href="" ng-click="deactivate(client.id)">
                            <i class="fa fa-ban"></i>
                          </a>
                          <a ng-if="client.status == 0" href="" ng-click="activate(client.id)">
                            <i class="fa fa-check"></i>
                          </a>
                          <a href="#/adm/clients/locations/{{client.id}}">
                            <i class="fa fa-map-marker"></i>
                          </a>
                          <a href="#/adm/clients/phases/{{client.id}}">
                            <i class="fa fa-sign-in"></i>
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <uib-pagination total-items="totalItems" num-pages="numPages"
              ng-model="currentPage" max-size="maxSize" boundary-links="true"
              items-per-page="itemsPerPage" ng-change="pageChanged()">
            </uib-pagination>
            <ul class="breadcrumb">
                <li><a href="">Rows number for page</a></li>
                <li><a href="" ng-click="changeRowsPage('5')">5</a></li>
                <li><a href="" ng-click="changeRowsPage('10')">10</a></li>
                <li><a href="" ng-click="changeRowsPage('50')">50</a></li>
                <li><a href="" ng-click="changeRowsPage('100')">100</a></li>
            </ul>
            <pre>Page: {{currentPage}} / {{numPages}}</pre>
        </div>
    </div>
</div>
