<div class="panel-default col-sm-12" ng-controller="clientsController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
  <div class="panel-body">
    <div class="well well-sm fondo-verde">
      <h5>Cliente: {{country}}</h5>
    </div>
    <form name = "addForm" ng-submit="addSubmitForm(formData)" class='form-inline'>
      <div class="row">
        <div class="col-sm-10">
          <input-description-large></input-description-large>
        </div>
        <div class="col-sm-2">
          <btn-add-large></btn-add-large>
        </div>
      </div>
    </form>
    <button onclick="itemsShow()" data-toggle="collapse" class="btn  col-sm-12 fondo-verde tableTrigger" data-target="#table_estados">Ver estados asignados</button>
    <div id="table_estados" class="collapse">
      <table class="table table-striped">
        <thead>
          <th>Id</th>
          <th>Estado</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr class='item' ng-repeat="state in states">
            <td>{{state.id}}</td>
            <td>{{state.description}}</td>
            <td>
              <a href="#/countries/cities/{{state.id}}" title="Asignar ciudades">
                <i class="glyphicon glyphicon-plus cursor-pointer"></i>
              </a>
            </td>
          </tr>
          <tr class='item'>
            <td>state.id</td>
            <td>state.description</td>
            <td>
              <a href="#/countries/cities/{{state.id}}" title="Asignar ciudades">
                <i class="glyphicon glyphicon-plus cursor-pointer"></i>
              </a>
            </td>
          </tr>
          <tr class='item'>
            <td>state.id</td>
            <td>state.description</td>
            <td>
              <a href="#/countries/cities/{{state.id}}" title="Asignar ciudades">
                <i class="glyphicon glyphicon-plus cursor-pointer"></i>
              </a>
            </td>
          </tr>
          <tr class='item'>
            <td>state.id</td>
            <td>state.description</td>
            <td>
              <a href="#/countries/cities/{{state.id}}" title="Asignar ciudades">
                <i class="glyphicon glyphicon-plus cursor-pointer"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</center>
</div>
