<div class=" panel-default col-sm-12" ng-controller="citiesController">
  <panel-title></panel-title>
  <icon-list></icon-list>
  <alert-message alert="alertMessage"></alert-message>
  <center>
    <div class="panel-body">
      <form name = "addForm" ng-submit="addSubmitForm(formData)" class="form-inline">
        <input-description></input-description>
        <div class="input-group col-sm-5 well-lg col-centered">
          <select ng-model='formData.country_id' required ng-change="changeCountries(formData.country_id)" class="form-control input-lg">
        	 <option value=''>Selecciona un país</option>
           <option ng-repeat="country in countries" value='{{country.id}}'>{{country.description}}</option>
          </select>
        </div>
        <div class="input-group col-sm-10 well-lg col-centered">
          <select ng-model='formData.state_id' required  class="form-control input-lg">
        	 <option value=''>Selecciona un estado</option>
           <option ng-repeat="state in states" value='{{state.id}}'>{{state.description}}</option>
          </select>
        </div>
        <textarea-notes-dos-column></textarea-notes-dos-column>
        <btn-add></btn-add>
      </form>
    </div>
  </div>
